<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
</head>
<body>
    Hey there {{user.login}}! Wanna add some services? Please write down the service's name, password and master password:
       <form method = "post">
        <input type="text" name="service" id="service" class="form-control"><br>
        <input type="password" name="password" id="password" class="form-control"><br>
        <input type="password" name="master_password" id="master_password" class="form-control"><br>
        <input type="submit" class="btn btn-success" value="Add">
        <input type="button" value="Show my services" onclick='location.href="/show_services"'>
    </form>
</body>
</html>